html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 100%;
}
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  background-color: white;
  color: black;
  /* max-width: 1240px; */
}

/* header container 
position:fixed;
top:0
width: 100%
z-index:10; */

h1 {
  font-size: 3.375em;
}

h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 1.5em;
}
p {
  font-size: 1em;
}
.main-navigation ul {
  display: column;
  /* justify-content: space-between; */
  text-align: center;

  /* border: solid 1px; */

  /* padding-top: 1rem; */
}

.toggle-btn {
  display: flex;
  justify-content: center;
  font-size: 2.688em;
  color: #05d8ad;
  background-color: black;
  width: 100%;
}
.fa-bars {
  display: flex;
  position: relative;
}

.about {
  /* border-top: 3px solid #d7d7d7; */
  font-size: 1.25em;
  padding-top: 1.05rem;
  padding-bottom: 1.05rem;
}

.portfolio {
  border-top: 3px solid #d7d7d7;
  font-size: 1.25em;
  padding-top: 1.05rem;
  padding-bottom: 1.05rem;
}

.contact {
  border-top: 3px solid #d7d7d7;
  font-size: 1.25em;
  padding-top: 1.05rem;
  padding-bottom: 1.05rem;
}
.main-area {
  padding: auto 0;
  background-image: linear-gradient(#05d8ad, #00e5ff);
}

.welcome {
  display: flex;
  position: relative;
  text-align: middle; /*remove when applyind z-index*/
  margin: auto 0;
  justify-content: center;
  /* padding: 50%; jim shoul be removed if i apply z -index bei header container */
  height: 100vh;
  line-height: 10em;
}
.arrow {
  bottom: 0;
  display: flex;
  justify-content: center;
  font-size: 2.688em;
  position: absolute; /*jim*/
  left: 50%; /*jim*/
  transform: translateX(-50%); /*jim*/
}
@media screen and (min-width: 600px) {
  .main-navigation ul {
    display: flex;
    text-align: center;
    /* display: contents; */
  }
  /* #primary-nav { */
  /* display: flex; */
  /* } */
  .about {
    flex: 1;
    order: 2;
  }

  .eleent style {
    display: flex;
  }
  .toggle-btn {
    display: none;
    /* /display: flex; */
  }

  .portfolio {
    width: 200px;
    order: 1;
    border-top: none;
  }
  .contact {
    width: 200px;
    order: 3;
    border-top: none;
  }
}
